/* styles.css */

body {
    font-family: 'georgia', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f0f0f;
    color: white;
}

img {
    width: 100%;
    height: auto;
    /* Ensure images don't overflow their containers */
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    gap: 2rem;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

header {
    font-family: 'palatino linotype', 'book antiqua', palatino, serif;
    background: #f7f4f4;
    color: #070707;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    background-color: #eee5ca;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: #050505;
    margin: 4px 0;
}

main {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #0b0b0b;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }
}